
/* Generales */ 

.h3 {
    font-size: 22px;
}
.display-4 {
    font-size: 42px;
}
.font-italic {
    font-family: 'Merriweather', serif;
}

/* Equal height */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Custom */

.header-top {
    height: 100px;
    .row {
        height: 100px;
    }
}
.header-logo {
    img {
        width: 222px;
        height: 50px;
    }
}
.featured-top {
    //padding: 100px 0;
    .font-italic {
        font-size: 26px;
    }
    .btn {
        padding: 30px 20px;
    }
}
#carouselSlides {
    margin-bottom: -50px;
}
.call-to-action {
    .btn {
        padding: 30px 20px;
    }
}
.card {
    .card-title {
        a {
            color: $black;
            font-size: 18px;
            position: relative;
            /* &::before {
                display: none;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                bottom: -2px;
                background-color: $primary;
            } */
            &:hover {
                text-decoration: none;
                color: $primary;
                /* &::before {
                    display: block;
                } */
            }
        }
    }
    .card-text {
        font-family: $font-family-monospace;
        font-size: 13px;
        line-height: 165%;
    }
    .card-link-course {
        a {
            position: relative;
            padding-left: 20px;
            font-size: 12px;
            color: $black;
            i {
                position: absolute;
                left: 0;
                top: 0;
            }
            &::before {
                display: none;
                content: '';
                position: absolute;
                left: 20px;
                right: 0;
                height: 2px;
                bottom: -2px;
                background-color: $primary;
            }
            &:hover {
                text-decoration: none;
                i {
                    color: $primary;
                }
                &::before {
                    display: block;
                }
            }
            &.pl-0 {
                &::before {
                    left: 0;
                }
            }
        }
    }
    .card-body {
        &.bg-dark {
            .card-title {
                a {
                    color: $primary;
                }
            }
        }
    }
}