
/* Generales */ 

.h3, h3 {
    font-size: 22px;
}
.h4, h4 {
    font-size: 18px;
}
.display-4 {
    font-size: 42px;
}
.font-italic {
    font-family: 'Merriweather', serif;
}
.bg-gray {
    background-color: #EFEFEF;
}
.bg-negocios {
    background-color: $color-negocios;
}
.bg-diseno {
    background-color: $color-diseno;
}
.bg-informatica {
    background-color: $color-informatica;
}
.bg-comunicaciones {
    background-color: $color-comunicaciones;
}
.bg-salud {
    background-color: $color-salud;
}

/* Equal height */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Custom */

.header {
    //padding-top: 100px;
}
/* .header.bg-dark.top {
    .header-top.fixed-top {
        display: block !important;
        //transition: all 1s ease;
    }
} */
#btn-top {
    display: none; 
    height: 100px;
}
.header-top {
    height: 100px;
    .row {
        height: 100px;
    }
    .col-md-6 {
        height: 100px;
    }
}
.header-logo {
    img {
        width: 222px;
        height: 50px;
    }
}
.featured-top {
    //padding: 100px 0;
    .font-italic {
        font-size: 26px;
    }
    .btn {
        padding: 30px 20px;
    }
}
.pinBox {
    z-index: 200;
}
#carouselSlides {
    margin-bottom: -50px;
}
.call-to-action {
    .btn {
        padding: 30px 20px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 1.2rem;
    }
}
.card {
    .card-title {
        a {
            color: $black;
            font-size: 18px;
            position: relative;
            /* &::before {
                display: none;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                bottom: -2px;
                background-color: $primary;
            } */
            &:hover {
                text-decoration: none;
                color: $primary;
                /* &::before {
                    display: block;
                } */
            }
        }
    }
    .card-text {
        font-family: $font-family-monospace;
        font-size: 13px;
        line-height: 165%;
    }
    .card-body {
        &.bg-dark {
            .card-title {
                a {
                    color: $primary;
                }
            }
        }
    }
}
.card-link-course {
    a {
        position: relative;
        padding-left: 20px;
        font-size: 12px;
        color: $black;
        i {
            position: absolute;
            left: 0;
            top: 0;
        }
        span {

        }
        &:hover {
            text-decoration: none;
            i {
                color: $primary;
            }
            span {
                border-bottom: 2px solid $primary;
            }
        }
        &.pl-0 {
            &::before {
                left: 0;
            }
        }
    }
}
#business {
    .card-title {
        a {
            &:hover {
                color: $color-negocios;
            }
        }
    }
    .card-link-course {
        a {
            &:hover {
                i {
                    color: $color-negocios;
                }
                span {
                    border-bottom: 2px solid $color-negocios;
                }
            }
        }
    }
}
#comunication {
    .card-title {
        a {
            &:hover {
                color: $color-comunicaciones;
            }
        }
    }
    .card-link-course {
        a {
            &:hover {
                i {
                    color: $color-comunicaciones;
                }
                span {
                    border-bottom: 2px solid $color-comunicaciones;
                }
            }
        }
    }
}
#design {
    .card-title {
        a {
            &:hover {
                color: $color-diseno;
            }
        }
    }
    .card-link-course {
        a {
            &:hover {
                i {
                    color: $color-diseno;
                }
                span {
                    border-bottom: 2px solid $color-diseno;
                }
            }
        }
    }
}
#it-course {
    .card-title {
        a {
            &:hover {
                color: $color-informatica;
            }
        }
    }
    .card-link-course {
        a {
            &:hover {
                i {
                    color: $color-informatica;
                }
                span {
                    border-bottom: 2px solid $color-informatica;
                }
            }
        }
    }
}
#health {
    .card-title {
        a {
            &:hover {
                color: $color-salud;
            }
        }
    }
    .card-link-course {
        a {
            &:hover {
                i {
                    color: $color-salud;
                }
                span {
                    border-bottom: 2px solid $color-salud;
                }
            }
        }
    }
}
.tabs-courses {
    .nav-link {
        color: $white;
        padding: 1rem 1.5rem;
        &.active {
            &.business-course {
                background-color: $color-negocios;
            }
            &.comunication-course {
                background-color: $color-comunicaciones;
            }
            &.design-course {
                background-color: $color-diseno;
            }
            &.it-course {
                background-color: $color-informatica;
            }
            &.health-course {
                background-color: $color-salud;
            }
        }
    }
}
.footer {
    .logo-footer {
        width: 155px;
        height: 36px;
        display: block;
    }
    p, .h5, h5, .nav-link {
        font-size: 13px;
    }
    .font-italic {
        font-family: $font-family-sans-serif;
    }
    .nav-link {
        color: $white;
        &:hover {
            color: $primary;
        }
    }
}
.dropdown-item {
    &.active {
        &#drop-all-courses {
            background-color: $primary;
        }
        &#drop-business {
            background-color: $color-negocios;
        }
        &#drop-comunication {
            background-color: $color-comunicaciones;
        }
        &#drop-design {
            background-color: $color-diseno;
        }
        &#drop-it-course {
            background-color: $color-informatica;
        }
        &#drop-health {
            background-color: $color-salud;
        }
    }
}

/* Responsive */

/* desktop */

@media (min-width: 992px) and (max-width:1199.98px) {
    .display-4 {
        font-size: 36px;
    }
    .tabs-courses .nav-link {
        padding: 1rem 1.35rem;
    }
}

/* ipad */

@media (min-width: 768px) and (max-width:991.98px) {
    h2, .h2 {
        font-size: 1.5rem;
    }
    .h3, h3 {
        font-size: 18px;
    }
    .h4, h4 {
        font-size: 15px;
    }
    .display-4 {
        font-size: 27px;
    }
    p {
        font-size: 14px;
    }
    .header-top {
        height: 60px;
        .row {
            height: 60px;
        }
        .col-md-6 {
            height: 60px;
        }
    }    
    .header-logo img {
        width: 160px;
    }
    .featured-top .font-italic {
        font-size: 18px;
    }
    .featured-top .btn {
        padding: 15px;
    }
    .tabs-courses .nav-link {
        color: #fff;
        padding: .5rem .65rem;
        font-size: 13px;
    }
    #carouselSlides {
        margin-bottom: -20px;
    }
    .card .card-text {
        font-size: 12px;
        line-height: 150%;
    }
    .call-to-action .btn {
        padding: 15px;
    }
    .call-to-action h3 {
        font-size: 27px;
    }
    .call-to-action p {
        font-size: 1rem;
    }
}

/* móvil */

@media (max-width: 767.98px) { 
    h2, .h2 {
        font-size: 24px;
    }
    .h3, h3 {
        font-size: 18px;
    }
    .h4, h4 {
        font-size: 15px;
    }
    .display-4 {
        font-size: 27px;
    }
    p {
        font-size: 14px;
    }
    .featured-top .font-italic {
        font-size: 18px;
    }
    .featured-top .btn {
        padding: 15px;
    }
    /* header */
    .header-top {
        height: 50px;
        .row {
            height: 50px;
        }
        .col-md-6 {
            height: 50px;
        }
    }
    .header-logo img {
        width: 160px;
    }
    #carouselSlides {
        margin-bottom: 0;
    }
    .card .card-text {
        font-size: 12px;
        line-height: 150%;
    }
    .call-to-action {
        text-align: center;
    }
    .call-to-action .btn {
        padding: 15px;
    }
    .call-to-action h3 {
        font-size: 30px;
    }
    .call-to-action p {
        font-size: 1rem;
    }
    .footer .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer img.acreditacion {
        width: 100%;
        max-width: 361px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $white;
    }
}